





.gotoTopBtn{
    width: 40px;
    height: 40px;
    background-color: #3459ab;
    border-radius: 100px;
    border: none;
   position: fixed;
   bottom: 2rem;
   right: 2rem;
   z-index: 999;
   transition: 1s linear 0s;
}

.gotoTopBtn-icon-arro{
    font-size: 1.4em;
    color: white;
    animation: myArroUp 1.2s linear infinite alternate-reverse;
}

@keyframes myArroUp{
    0%{
        transform: translateY(-0.2rem);
    }
    100%{
        transform: translateY(0.7rem);

    }
}